@font-face {
    font-family: 'bellotaregular';
    src: url('Bellota-Regular-webfont.eot');
    src: url('Bellota-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Bellota-Regular-webfont.woff') format('woff'),
         url('Bellota-Regular-webfont.ttf') format('truetype'),
         url('Bellota-Regular-webfont.svg#bellotaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: 'bellotaregular';
}
form {
    margin: 0 auto;
    width: 800px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    background-color: #D3D3D3;
}
h1{
    font-size: 30px;
    text-align: center;
}
form div + div {
    margin-top: 1em;
}
label {
    display: inline-block;
    width: 90px;
    text-align: right;
}
input, textarea {
    font: 1em sans-serif;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    border: 1px solid #999;
}
input:focus, textarea:focus {
    border-color: #000;
}
textarea {
    vertical-align: top;
    height: 5em;
    resize: vertical;
}
.button {
    padding-left: 90px;
}
button {
    margin-left: .5em;
}
.imga{
    width: 50px;
    height: 50px;
    float: left;
}
.imgb{
    width: 50px;
    height: 50px;
    float: right;
}
.imgc{
    width: 50px;
    height: 50px;
    float: left;
}
.test{
    line-height: 30px;
}